.container{
    width: 700px;
    height: 700px;
    background-color: gray;
    margin:auto;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(210, 247, 202);
    text-align: center;
    line-height: 50px;
}
.days{
    width: 100%;
    height: 50px;
    background-color: rgb(215, 255, 178);
    text-align: center;
    line-height: 50px;
    position: relative;
}
.content{
    width: 100%;
    height: 600px;
    background-color: rgb(242, 255, 166);
    position: relative;
}