<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<insert id="insert" parameterType="Board">
		insert into board(title, writer, content)
		values(#{title}, #{writer}, #{content})
	</insert>
	
	<!-- 자동으로 매핑시켜주는 mybatis Mapper -->
	<select id="selectAll" resultType="Board">
		select board_id, title, writer, content, regdate, hit
		from board
		order by board_id desc
	</select>
	
	
</mapper>